<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeong.board.mapper.BoardMapper">

	<select id="boardList" resultType="com.jeong.board.domain.BoardDto">
		select * from board
		order by bno ASC
	</select>
	
	<select id="boardDetail" parameterType="long" resultType="com.jeong.board.domain.BoardDto">
		select * from board 
		where bno = #{bno}
	</select>
	
	<insert id="insertBoard" parameterType="com.jeong.board.domain.BoardDto">
		insert into board(bno, subject, name, content, ins_date)
			values(#{bno}, #{subject}, #{name}, #{content}, now())
	</insert>
	
	<update id="updateBoard" parameterType="com.jeong.board.domain.BoardDto">
		update board set 
			subject = #{subject},
			content = #{content}
		where 
			bno = #{bno}
	</update>
	
	<delete id="deleteBoard" parameterType="long">
		delete from board 
		where
			bno = #{bno}
	</delete>

</mapper>